# Item Collaborative Recommender Systems

Reference: GA class notebook by Riley Dallas
**This note book can answer the question: Given a personâ€™s preferences of one recipe, could I recommend other recipes they might enjoy?**

In [1]:
#
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'    # with this can handle more merories, avoid kernel dead error.
import time

## Load `recipes.csv` and `reviews.csv`

In [2]:
t0=time.time()
recipes = pd.read_csv('organized_recipes.csv')
recipes.head(3)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat,sugar,sodium,protein,sat_fat,carbs
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13,269.8,22.0,32.0,48.0,39.0,27.0,5.0

In [3]:
ratings = pd.read_csv('cleaned_reviews.csv')
ratings.head(3)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...

## Drop unnecessary columns
---

We won't need the `date` or `review` column from `ratings`. We only  `name` and `id` columns from `recipes`.

In [4]:
ratings = ratings[['user_id', 'recipe_id', 'rating']]

In [5]:
recipes = recipes[['id','name']]

In [6]:
recipes.shape,  ratings.shape

((191481, 2), (1071351, 3))

In [7]:
df = pd.merge(ratings, recipes, how='inner', left_on='recipe_id', right_on='id').drop(columns='id')

In [8]:
print(df.shape)
df.head()

(885798, 4)

   user_id  recipe_id  rating                  name
0    76535     134728       4  kfc honey bbq strips
1   273745     134728       5  kfc honey bbq strips
2   353911     134728       5  kfc honey bbq strips
3   190375     134728       5  kfc honey bbq strips
4   255338     134728       5  kfc honey bbq strips

In [9]:
df['user_id'].value_counts().head(20)

424680     6740
37449      4914
383346     4263
169430     3583
128473     3445
89831      2882
58104      2761
199848     2720
133174     2697
226863     2592
305531     2591
498271     2425
369715     2246
4470       2234
286566     2029
1072593    2000
176615     1995
107583     1974
80353      1950
166642     1889
Name: user_id, dtype: int64

In [10]:
review_count = df.groupby('recipe_id').count()
review_count

           user_id  rating  name
recipe_id
40               9       9     9
45               2       2     2
46               2       2     2
49              18      18    18
58               7       7     7
...            ...     ...   ...
537319           1       1     1
537458           1       1     1
537459           1       1     1
537485           1       1     1
537716           1       1     1

[187665 rows x 3 columns]

In [11]:
selected_recipes = review_count[(review_count['rating'] > 4) & (review_count['rating'] < 9)].index
selected_recipes

Int64Index([    58,     91,     92,     93,    136,    139,    170,    210,
               224,    240,
            ...
            526222, 530478, 531253, 532736, 532740, 533699, 534900, 535779,
            536119, 536678],
           dtype='int64', name='recipe_id', length=23095)

In [12]:
df = df.set_index('recipe_id').loc[selected_recipes,:]

In [13]:
df.reset_index(inplace=True)

In [14]:
print(df.shape)
df.head()

(141512, 4)

   recipe_id  user_id  rating                                    name
0         58   437767       3  low fat burgundy beef   vegetable stew
1         58   162826       5  low fat burgundy beef   vegetable stew
2         58     5060       5  low fat burgundy beef   vegetable stew
3         58  1060485       3  low fat burgundy beef   vegetable stew
4         58  1279229       5  low fat burgundy beef   vegetable stew

In [15]:
# clear up the memeories
del ratings
ratings = pd.DataFrame() 

del recipes
recipes = pd.DataFrame()

In [16]:
t1=time.time()-t0
t1

11.103318929672241

## Create pivot table
---

Because we're creating an item-based collaborative recommender (where item in this case is our recipes), we'll set up our pivot table as follows:
1. The `name` will be the index
2. The `user_id` will be the column
3. The `rating` will be the value

In [17]:
pivot = pd.pivot_table(df, index='name', columns='user_id', values='rating')

pivot.head()

user_id,1533,1535,1634,1676,1792,1891,1962,2046,2054,2059,...,2002361642,2002363091,2002363779,2002364091,2002364382,2002368192,2002368412,2002368953,2002369279,2002371843
name,,,,,,,,,,,,,,,,,,,,,
1 000 artichoke hearts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 2 3 jambalaya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 asian noodle salad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 favorite chinese steamed whole fish by sy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 gram fat pumpkin spice muffins low fat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
pivot.shape

(23079, 37737)

In [19]:
t2=time.time()-t0
t2

69.66885495185852

## Create sparse matrix
---

Calculate the cosine similarity for each recipe using the `pairwise_distances` function. Before that, we need to create a sparse matrix (datatype) using `scipy`'s `sparse` module like so:

In [20]:
sparse_pivot = sparse.csr_matrix(pivot.fillna(0))
print(sparse_pivot)

  (0, 72)	5.0
  (0, 2407)	3.0
  (0, 3538)	5.0
  (0, 6774)	5.0
  (0, 7450)	5.0
  (0, 8494)	5.0
  (0, 25630)	5.0
  (0, 36215)	5.0
  (1, 287)	4.0
  (1, 1150)	4.0
  (1, 5088)	5.0
  (1, 14120)	5.0
  (1, 15235)	5.0
  (1, 32119)	5.0
  (2, 2754)	3.0
  (2, 2869)	5.0
  (2, 3223)	4.0
  (2, 7743)	4.0
  (2, 14727)	5.0
  (3, 4630)	5.0
  (3, 7070)	5.0
  (3, 19533)	5.0
  (3, 22772)	5.0
  (3, 24045)	4.0
  (4, 11704)	5.0
  :	:
  (23074, 15606)	4.0
  (23075, 1128)	5.0
  (23075, 4884)	5.0
  (23075, 6174)	5.0
  (23075, 6284)	5.0
  (23075, 7394)	5.0
  (23075, 9696)	5.0
  (23075, 21189)	5.0
  (23076, 401)	4.0
  (23076, 3788)	5.0
  (23076, 6863)	5.0
  (23076, 9954)	4.0
  (23076, 20353)	5.0
  (23076, 24324)	5.0
  (23077, 6386)	5.0
  (23077, 29081)	4.0
  (23077, 29546)	5.0
  (23077, 31893)	4.0
  (23077, 36524)	3.0
  (23077, 37370)	4.0
  (23078, 703)	5.0
  (23078, 4772)	5.0
  (23078, 8339)	5.0
  (23078, 14081)	5.0
  (23078, 21189)	5.0

## Calculate cosine similarity
---

`sklearn` has a built-in `pairwise_distances` function that we can use for our recommender. It will return a square matrix, comparing every recipe with every other resipe in the dataset.

In [21]:
# Note that a distance of 1 is a similarity of 0.
dists = pairwise_distances(sparse_pivot, metric='cosine')
# dists = cosine_distances(sparse_pivot)                         # Identical but more concise

dists

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [22]:
np.round(dists,3)

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [23]:
# Here, similarity is 1 - distance.
similarities = cosine_similarity(sparse_pivot)

In [24]:
# # Verify they are the same

# np.all(np.isclose((1.0 - dists), similarities))

## Create distances DataFrame
---

At this point, we essentially have a recommender. We'll load it into a `pandas` DataFrame for readability. 

You'll notice that each movie has a "distance" of 0 with itself (along the diagonal).

In [25]:
recommender_df = pd.DataFrame(similarities, 
                              columns=pivot.index, 
                              index=pivot.index)
recommender_df.head()

name,1 000 artichoke hearts,1 2 3 jambalaya,1 asian noodle salad,1 favorite chinese steamed whole fish by sy,1 gram fat pumpkin spice muffins low fat,1 hour smoky ham and lentil soup,1 minute stromboli,1 squash dressing,10 bean soup,10 layer poor man s lasagna casserole,...,zucchini with bacon cheese,zucchini with chickpea and mushroom stuffing,zucchini with salsa,zucchini yellow squash stir fry,zuccuash bake from nimz territory,zuke soup,zulu cabbage,zuppa di broccoli broccoli soup,zwiebelkuchen southwest german onion cake,zydeco ya ya deviled eggs
name,,,,,,,,,,,,,,,,,,,,,
1 000 artichoke hearts,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 2 3 jambalaya,0.0,1.0,0.0,0.0,0.0,0.142134,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 asian noodle salad,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 favorite chinese steamed whole fish by sy,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1 gram fat pumpkin spice muffins low fat,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
recommender_df.shape

(23079, 23079)

In [27]:
t3=time.time()-t0
t3

250.87963700294495

In [28]:
#recommender_df.to_csv('recommender_df.csv', index=False)  # Save this file for quick access

## Evaluate recommender performance
---

Now comes the fun part! Let's check out a few recipes to see if the recommender aligns with our intuition. In the cell below we'll do the following:
1. Create a search term
2. Use that to find all titles matching the search query
3. For each title, we'll list off the following:
  1. The average rating
  2. The number of ratings
  3. The ten most similar movies

In [29]:
# User input recipe name
query = 'besan  chickpea flour  pastry'
names = recommender_df[recommender_df.index.str.contains(query)].index

for name in names:
    print(name)
#     print('Average rating', recommender_df.loc[name, :].mean())
#     print('Number of ratings', recommender_df.T[name].count())
#     print('')
#     print('10 closest recipes')
    print(recommender_df[name].sort_values(ascending=False)[1:11])
    print('')
    print('*******************************************************************************************')
    print('')

besan  chickpea flour  pastry
name
vegan fried chicken vegan chicken nuggets  gluten free    0.256495
good old fashioned english chip shop style chips          0.253967
garam masala green beans                                  0.247963
gluten free cornmeal muffins                              0.247963
vegan speedy alfredo style sauce  no tofu                 0.240229
havarti and sun dried tomato cheesecake                   0.238149
southwestern sugar cookies                                0.238149
palm springs bagel                                        0.229416
instant cookies                                           0.219942
cinnamon sugar rattle snakes  i mean snacks               0.216007
Name: besan  chickpea flour  pastry, dtype: float64

*******************************************************************************************

In [36]:
q = 'fried chicken'
names = recommender_df[recommender_df.index.str.contains(q)].index

for name in names:
#     print(name)
#     print('Average rating', recommender_df.loc[name, :].mean())
#     print('Number of ratings', recommender_df.T[name].count())
#     print('')
#     print('10 closest recipes')
    print(recommender_df[name].sort_values(ascending=False)[1:11])
    print('')
    print('*******************************************************************************************')
    print('')

name
deep in the heart of texas bbq rub    0.432338
spicy egg salad sandwiches            0.406579
cheesy bacon stuffed burgers          0.400000
popover pizza                         0.400000
hawaiian ham and swiss sandwich       0.400000
three onion crossroads potatoes       0.400000
thai chili mayonnaise                 0.376622
grilled new yorker                    0.376622
fruity ice cubes                      0.365148
italian style lasagna                 0.365148
Name: 4th of july fried chicken, dtype: float64

*******************************************************************************************

name
pollo en crema                             0.380129
osman s weiner schnitzel                   0.290228
basic biscuits                             0.228571
chicken panang                             0.219133
baked mushrooms   a vegetable side dish    0.217855
ginger lime salmon                         0.214152
aunt mag s spoonburgers                    0.212675
beef teriyaki with cucumber salsa          0.212675
italian potato casserole                   0.211786
chocolate custard low points               0.211786
Name: best fried chicken, dtype: float64

*******************************************************************************************

name
grilled rosemary chops                                     0.555754
chicken breast with mustard and sesame sauce               0.540078
orange nut couscous                                        0.486252
creamy peaches                                             0.477707
fully loaded cajun chicken burgers                         0.436872
egg in a hole   with smoked salmon                         0.423249
stuffed avocados with seafood                              0.423249
meatloaf with mustard dill sauce                           0.400471
scrambled egg muffins with smoked salmon and sour cream    0.370503
apricot dijon mustard chicken with couscous                0.370503
Name: bonnie s twice cooked oven fried chicken, dtype: float64

*******************************************************************************************

name
heavenly country style home fries     0.547723
pomegranate glazed carrots            0.507093
not just for breakfast smashbrowns    0.507093
garlic chicken on rice                0.444994
baked corn                            0.419627
easy fried potatoes   onions          0.415227
spiced chai concentrate               0.415227
coffee with coconut milk              0.415227
berries and cream dip                 0.415227
smoked turkey and avocado melt        0.415227
Name: buttermilk herb fried chicken, dtype: float64

*******************************************************************************************

name
cheesy scalloped potatoes with bacon and green onions            0.433013
two vinegar carrots                                              0.389468
loaded potato and mushroom bake recipe                           0.389468
cinnamon swirl bread                                             0.379049
grilled rosemary chops                                           0.379049
scrambled egg muffins with smoked salmon and sour cream          0.379049
sweet and spicy yams                                             0.371154
breakfast brunch pigs in a blanket                               0.365148
steak diane from a treasury of great recipes by vincent price    0.365148
jude s grilled ham and egg sandwich                              0.365148
Name: caribbean style fried chicken, dtype: float64

*******************************************************************************************

name
paula deen s cornbread                                       0.241121
sour cream and onion burgers                                 0.233126
baked squash sticks                                          0.225877
apple and pear bundt cake                                    0.219265
feta cheese foldovers                                        0.219265
pork steak bake in mushroom sauce                            0.216169
garlic chicken with sweet roasted pepper sauce               0.216169
southern fried cabbage chicken stew                          0.214176
icebox strawberry pie                                        0.214176
grilled margarita chicken bites with salsa sour cream dip    0.207614
Name: chicken fried chicken  d v o, dtype: float64

*******************************************************************************************

name
saucy apple and blackberry pie         0.432338
pork chops and apple                   0.330847
raspberry custard pie                  0.245440
grilled limoncello salmon steaks       0.234404
poached fish                           0.234404
chicken with fennel and red peppers    0.233126
stir fried cucumbers                   0.229416
cauliflower with pimiento sauce        0.229416
onion squares                          0.229416
spinach cheese squares                 0.225877
Name: chicken katsu  fried chicken coated in japanese breadcrumbs, dtype: float64

*******************************************************************************************

name
easy peasy apple turnovers               0.212202
old fashioned beef pot roast             0.203535
green beans with feta                    0.203535
lemon and herb pasta salad               0.203535
ham   pineapple pizza muffins            0.195480
yummy holiday potatoes                   0.195480
glen s pecan pie muffins                 0.195480
peanut butter chocolate chip brownies    0.195480
ginger mustard pork chops                0.195480
penne with spinach and two cheeses       0.195480
Name: chinese style fried chicken, dtype: float64

*******************************************************************************************

name
leeky linguine with shrimp                     0.392255
poppy seed and green onion noodles             0.376731
italian turkey mini meatloaves                 0.349916
crunchy rainbow bowl for men without yen       0.293591
light cheesy crab stuffed mushrooms            0.258572
christine s cheesesteak rice                   0.247428
short  cut chicken fried rice  oamc            0.236302
chicken sausage with pasta and tomato sauce    0.236302
bbq hamburgers                                 0.235014
uncle ray s grilled zucchini                   0.233747
Name: city fried chicken, dtype: float64

*******************************************************************************************

name
homestyle fried fish fillets                         0.322885
cake mix lemon pecan cookies                         0.269892
chickpea veggie loaf                                 0.246500
southern sweet iced tea                              0.243235
chocolate intrigue marble cake                       0.231362
chickpea tuna salad                                  0.231362
hot potato and broccoli salad                        0.229998
pomegranate glazed salmon                            0.228656
southwest summertime cooler  orange mint iced tea    0.224770
artichoke and basil dip                              0.222286
Name: country fried chicken with gravy, dtype: float64

*******************************************************************************************

name
easiest broccoli rice casserole                  0.318304
curry butter chicken legs on the barbie          0.220704
oven fried garlic rosemary chicken               0.212675
baked wedges with fresh rosemary and sea salt    0.208464
oven baked mostaccioli                           0.206449
easy bisquick chicken legs                       0.202590
pasta chicken taco bake                          0.201659
chocolate mint smoothie                          0.201659
galley ho skillet supper                         0.197187
a berry nice smoothie                            0.195480
Name: crusty herb fried chicken  baked, dtype: float64

*******************************************************************************************

name
low carb  low cal egg  foo  yung                    0.216777
chocolate cola cake                                 0.200321
macaroni beef stew                                  0.200321
new mexico style red chile enchiladas               0.191882
creamy dijon pork chops with apples and onions      0.190901
peanut butter chocolate bars                        0.190901
okie cornbread                                      0.188982
absolutely great  secret  simple mashed potatoes    0.185312
banana oatmeal chocolate chip cookies               0.182696
yummy bbq burgers                                   0.182696
Name: deep fried chicken  but low fat, dtype: float64

*******************************************************************************************

name
pistachio pudding salad              1.000000
authentic hong kong roast chicken    0.800000
paparazzi cream cheese dip           0.800000
simplest panna cotta ever            0.800000
espresso choco chunk cookies         0.790569
the best italian pomodoro sauce      0.753244
mommy s yummy fried pork chops       0.694210
simplest korean beef stew            0.676123
3 toppings for apple pie             0.600000
elegant potato gratin                0.600000
Name: fried chicken in garlic butter, dtype: float64

*******************************************************************************************

name
green chile baked chicken                         0.391031
cheesy green chile corn                           0.262838
oven fried chicken breasts with new potatoes      0.253823
mom s macaroni   cheese                           0.251019
double crunch honey garlic chicken                0.245677
linda s veggie and cream cheese stuffed celery    0.241888
the blt omelet                                    0.241888
hot cheese hors d oeuvres                         0.241888
cornflake ranch chicken fingers or breasts        0.241888
potato and beef pie                               0.241888
Name: garlic fried chicken breasts, dtype: float64

*******************************************************************************************

name
herbed zucchini soup                       0.298169
kicked up carrot salad                     0.269435
lemon turkey breast                        0.259099
asian chicken pitas                        0.259099
mojo chicken                               0.259099
quick cajun style skillet                  0.259099
sweet and spicy yams                       0.259099
ugali                                      0.256495
old fashioned spicy oatmeal raisin bars    0.248836
braised red cabbage and apples             0.247963
Name: hg s fiber ific fried chicken strips   ww points   5, dtype: float64

*******************************************************************************************

name
heart and soul black bean soup                      0.216371
the best garlic shrimp ever                         0.213980
chicken and tortellini with parmesan cream sauce    0.212814
pretzel crusted chicken breasts                     0.211667
15 minute baked halibut with herbs                  0.206197
moroccan sweet potato and chickpea soup             0.206197
grandma s noodle kugel                              0.203111
garlic shrimp  lemon and feta spaghetti             0.200160
garam masala green beans                            0.197334
leeky linguine with shrimp                          0.197334
Name: italian inn fried chicken livers and onions, dtype: float64

*******************************************************************************************

name
old bay party nuts                              0.225877
spicy roasted chickpeas                         0.224733
pecan stuffed mushrooms                         0.222497
chili s awesome blossom dipping sauce           0.222497
peachy salsa chicken                            0.216169
nobody knows they re instant mashed potatoes    0.214176
sugar snap pea and carrot saute                 0.207614
mexican meatballs   albondiguitas               0.207614
zesty refried beans                             0.207614
delicious crock pot pork chops                  0.201619
Name: jan s pan fried chicken  bacon and feta cheese, dtype: float64

*******************************************************************************************

name
cafe rio cilantro lime rice                                      0.182574
cream cheese tasty tortilla pinwheels                            0.171904
italian chicken sub                                              0.166667
linda s luscious spinach dip                                     0.166667
indian potato cakes  aloo tikki  with cilantro chutney yogurt    0.154303
adam s favorite creamy cheesy cauliflower soup                   0.147699
easy chile relleno casserole                                     0.144338
easy skillet chicken                                             0.000000
easy shaked up macaroni and cheese                               0.000000
easy shredded beef or pork enchiladas                            0.000000
Name: japanese crispy fried chicken   kara age, dtype: float64

*******************************************************************************************

name
mexi mocha coffee frothy and light                   0.352673
cafe con leche milkshakes                            0.344721
tamatim mashwiya                                     0.337220
shantung chicken                                     0.320171
spanish chicken with chorizo and chickpeas           0.262735
stir fry sweet   sour pork or chicken or shrimp      0.235639
garlic pasta                                         0.226395
pork chops with goat cheese and caramelized onion    0.222040
thai fried rice   kao pad                            0.221578
dirty  cajun  rice                                   0.218160
Name: japanese fried chicken karaage with onion ginger relish, dtype: float64

*******************************************************************************************

name
poached fish                               0.220704
grilled limoncello salmon steaks           0.220704
chicken with fennel and red peppers        0.219501
onion squares                              0.216007
stir fried cucumbers                       0.216007
lemon linguini  with shrimp                0.212675
pesto potatoes                             0.212675
rhubarb chicken                            0.212675
mean chef s vanilla buttermilk cupcakes    0.211599
sicilian green beans  low fat              0.210538
Name: karen s fried chicken, dtype: float64

*******************************************************************************************

name
tropical chicken sandwiches            0.547723
nif s easy grilled asparagus spears    0.433013
pink bikini                            0.379049
butterscotch fudge bars                0.379049
chita s mexican rice                   0.379049
farmhouse loaded mashed potatoes       0.379049
shake it up  iced tea for two          0.379049
heavenly cornbread                     0.379049
awesome enchiladas                     0.379049
nif s chicken cordon bleu burgers      0.377426
Name: kentucky fried chicken honey bbq chicken strips, dtype: float64

*******************************************************************************************

name
simple herb baked chicken breast  ibs o k    0.193201
pesto potatoes                               0.187194
calico bean soup recipe from mix             0.185312
easter nest rice krispies treats             0.179148
wondra instant flour substitute              0.178317
avga gemista or greek stuffed eggs           0.172058
easy pot roast                               0.172058
chicken vegetable barley soup                0.172058
healthy low fat lasagna                      0.171321
basic biscuits                               0.167726
Name: kittencal s garlic fried chicken breast, dtype: float64

*******************************************************************************************

name
cheesy beefy tortellini                   0.190801
chive carrots                             0.190801
latte cheesecake bars                     0.183804
awesome chicken cordon bleu               0.183073
chicken with homemade herb cheese         0.177524
sweet potato black bean salad             0.167789
basil and feta spread                     0.166068
salmon carbonara                          0.164399
green bean   feta salad                   0.159498
penne pasta with an herbed cream sauce    0.155342
Name: low fat fried chicken strips, dtype: float64

*******************************************************************************************

name
bratwurst tacos                                 0.328012
another meatloaf recipe                         0.325818
yellow squash   eggplant  and feta casserole    0.317282
polish papa s pork chops                        0.302450
chicken monterey burritos                       0.302450
spicy tuna pasta toss   w w  6 points           0.301648
grilled ham panini                              0.301648
spicy roast potatoes                            0.295791
twice baked italian ranch potatoes              0.295791
easy cream cheese stuffed mushrooms             0.295211
Name: mustard parm fried chicken breasts, dtype: float64

*******************************************************************************************

name
diet chocolate sauce                                         0.617213
walnut and rosemary oven fried chicken                       0.547723
scrambled eggs and mushrooms  1953                           0.515711
grilled balsamic garlic crusted pork tenderloin  low carb    0.500000
hoosier meatloaf with jack daniels sauce                     0.494872
ainsley s barbecue spice rub                                 0.481330
best cheese bread                                            0.478537
molly   coddled eggs                                         0.462910
nif s baked chicken fingers                                  0.462910
chicken cordon bleu ii                                       0.443607
Name: oven fried chicken  ww, dtype: float64

*******************************************************************************************

name
macaroni vegetable cheese pie         0.456882
cheddar dip or spread                 0.456882
crescent sausage rolls                0.426641
fluffy hot chocolate                  0.426641
toffeed apples                        0.426641
jen s taco salad                      0.426641
hang town scramble for one            0.426641
italian peppers and egg sandwiches    0.424945
apple molasses bread                  0.415174
ground beef and macaroni medley       0.409895
Name: oven fried chicken breasts with new potatoes, dtype: float64

*******************************************************************************************

name
flounder fillets with panko bread crumbs    0.224055
strip and go naked                          0.216371
spicy orange chicken stir fry               0.211667
uncle ray s grilled zucchini                0.211667
festive cranberry cheese spread             0.204124
my very own basic but yummy pizza sauce     0.200160
south of the border rice and beans          0.197334
orzo and broccoli pilaf                     0.197334
beefed up spanish orzo                      0.197334
veggie stuffed twice baked potatoes         0.197334
Name: oven fried chicken fingers, dtype: float64

*******************************************************************************************

name
afghani lamb and rice dish                 0.317408
curry butter chicken legs on the barbie    0.228104
cocktail turkey meatballs                  0.228104
broccoli with browned butter               0.219806
roast lime chicken                         0.217597
baked chicken breasts and rice             0.217597
porky pockets  rsc                         0.216517
kit kat bars ii                            0.213371
potato egg pie                             0.210359
kumquat curry with shrimp                  0.207471
Name: oven fried chicken monterey, dtype: float64

*******************************************************************************************

name
chicken and noodle stew                                  0.203535
spanakopita  spinach and cheese pie                      0.203535
joe s stone crab garlic creamed spinachby todd wilbur    0.203535
warm lobster rolls                                       0.195480
grilled german potato salad                              0.195480
big mac daddy roni salad                                 0.188311
red curry with vegetables                                0.188311
norsk fiskegrateng  fish au gratin                       0.188311
gnocchi with chicken sausage  bell pepper  and fennel    0.183250
breakfast pork hash                                      0.177305
Name: oven fried chicken thighs with panko and parmesan, dtype: float64

*******************************************************************************************

name
oven baked french fries                         0.240610
no no no cookies                                0.194260
balsamic cucumber salad                         0.187194
creamy chicken marsala                          0.187194
dino s deviled eggs                             0.185312
eye of round roast                              0.179148
barb s  baja crispy fish tacos                  0.179148
aunt bev s   weird  hot dogs                    0.173561
pepperoni   cheddar corn muffins in a  jiffy    0.172058
saute spinach with garlic                       0.172058
Name: pat s southern fried chicken, dtype: float64

*******************************************************************************************

name
apple ladybug treats                    0.261154
risoles  indonesian style of rissole    0.261154
lemon lime basil ade                    0.229658
norwegian parsley potatoes              0.229658
special pancakes  batter cakes          0.212622
veggie dip                              0.195853
fancy chicken marsala                   0.137795
pork and peppers stir fry               0.130520
easy skillet casserole                  0.000000
easy shaked up macaroni and cheese      0.000000
Name: real fried chicken, dtype: float64

*******************************************************************************************

name
chef cajun deb s green stuff                0.376622
fried catfish  2                            0.376622
baby lima beans and corn                    0.343807
butterscotch fudge bars                     0.320587
chicken breasts with maple whiskey glaze    0.304680
killarney fudge pie                         0.224434
sweet basil rub for chicken                 0.223170
honey glazed hoisin pork chops              0.212675
honey mustard kielbasa and potatoes         0.212675
crispy chicken cutlets                      0.210538
Name: really crispy spicy cajun fried chicken, dtype: float64

*******************************************************************************************

name
rich  hot fudge cake                 0.192160
whipped carrots   snips              0.181714
fooler chicken                       0.179148
dark fudge truffles                  0.177497
goat cheese   green onion scones     0.177497
mexican meatballs   albondiguitas    0.172058
garlic bubble bread                  0.172058
differently delicious coleslaw       0.172058
platte county fair kraut burgers     0.172058
sweet potatoes in orange cups        0.172058
Name: smothered fried chicken, dtype: float64

*******************************************************************************************

name
cajun catfish supreme  can substitute trout or even chicken         0.543036
chicken breasts alfredo  no breading                                0.507093
sweet lemon iced tea                                                0.462910
chow mein chicken salad                                             0.428571
buffalo style chicken fingers                                       0.428571
fruity  peachy  bruschetta                                          0.428571
insalatina con fragole al balsamico strawberries arugula balsami    0.428571
spicy sweet glazed chicken breasts                                  0.428571
tomato cucumber salad                                               0.410228
east west asparagus salad                                           0.400892
Name: southern fried chicken fingers with green peppercorn mayonnaise, dtype: float64

*******************************************************************************************

name
vegetable confetti rice                     0.351863
low carb white chocolate mousse             0.248121
holiday eggnog cookies                      0.227029
stewed okra and tomatoes                    0.212675
finnish chocolate pudding                   0.212675
chicken breasts with mustard caper sauce    0.212675
zucchini oatmeal cookies                    0.210538
stuffed shell pierogies                     0.210538
simple parmesan tomatoes                    0.203535
fried jack                                  0.203535
Name: southern style oven fried chicken, dtype: float64

*******************************************************************************************

name
spicy sweet glazed chicken breasts        0.462910
roasted potatoes with garlic              0.400320
oriental steak skewers                    0.379049
laura moon s chili                        0.365148
cheesy bacon stuffed burgers              0.365148
brotchan foltchep   potato   leek soup    0.365148
beef stew with veggies                    0.365148
spinach leek cream soup                   0.365148
fish meuniere with capers                 0.365148
hamburger new                             0.365148
Name: stir fried chicken with gingered vegetables, dtype: float64

*******************************************************************************************

name
spicy szechwan chicken                    0.677270
swiss smoked salmon omelet                0.581318
thai chicken coconut soup                 0.525288
christine s maple syrup scrambled eggs    0.431034
naan chicken sandwich                     0.431034
baked bean scrolls                        0.415227
reduced fat scalloped potatoes            0.415227
spanish meatballs  albondigas             0.403917
scrambled eggs and orange zest            0.393673
paprika pita chips                        0.390959
Name: thai fried chicken, dtype: float64

*******************************************************************************************

name
meatballs in peanut curry sauce                              0.215150
honey oat bran bread                                         0.204705
lemon meltaways                                              0.200527
beef coconut curry                                           0.192885
oriental carrot salad                                        0.192885
chicken meatballs with tortellini in mushroom cream sauce    0.191107
mango sherbet  helado de mango                               0.185251
fig and pistachio loaf cake                                  0.185251
q s  spicy green beans                                       0.185251
vinaigrette salad dressing                                   0.185251
Name: thai stir fried chicken livers, dtype: float64

*******************************************************************************************

name
scandinavian drops                                       0.391675
cocolatte                                                0.351690
sauteed shrimp with coconut oil  ginger and coriander    0.350325
oma s chocolate pudding                                  0.319801
oregon griddle cakes                                     0.300530
kelly s kitchen sink goulash                             0.296078
luscious lemon pound cake                                0.296078
neapolitan pork chops                                    0.288746
creamy italian chicken puff pie                          0.282529
buttery baked red potatoes                               0.276976
Name: traditional southern fried chicken, dtype: float64

*******************************************************************************************

name
besan  chickpea flour  pastry                       0.256495
good old fashioned english chip shop style chips    0.247537
garam masala green beans                            0.241684
vegan speedy alfredo style sauce  no tofu           0.234146
havarti and sun dried tomato cheesecake             0.232119
southwestern sugar cookies                          0.232119
palm springs bagel                                  0.223607
pork tenderloin with port sauce                     0.217597
instant cookies                                     0.214373
cinnamon sugar rattle snakes  i mean snacks         0.210538
Name: vegan fried chicken vegan chicken nuggets  gluten free, dtype: float64

*******************************************************************************************

name
oven fried chicken  ww                 0.547723
nif s baked chicken fingers            0.507093
diet chocolate sauce                   0.507093
mr  howell s left bank french toast    0.447214
baked hoisin sauce chicken wings       0.444994
iced mochacchino                       0.444478
roasted vegetable couscous salad       0.415227
panfried smashed potatoes              0.415227
boiled egg in a bowl                   0.406579
corn couscous                          0.406579
Name: walnut and rosemary oven fried chicken, dtype: float64

*******************************************************************************************

In [31]:
query2 = 'fried chicken'
names = recommender_df[recommender_df.index.str.contains(query2)].index

In [32]:
pd.DataFrame(recommender_df[[name]].sort_values(by=name, ascending=False).head(6))

name                                                vegan fried chicken vegan chicken nuggets  gluten free
name
vegan fried chicken vegan chicken nuggets  glut...                                           1.000000
besan  chickpea flour  pastry                                                                0.256495
good old fashioned english chip shop style chips                                             0.247537
garam masala green beans                                                                     0.241684
vegan speedy alfredo style sauce  no tofu                                                    0.234146
southwestern sugar cookies                                                                   0.232119

In [33]:
recommender_df[[name]].sort_values(by=name, ascending=False).head(6).set_axis(['Value'], axis=1)

                                                       Value
name
vegan fried chicken vegan chicken nuggets  glut...  1.000000
besan  chickpea flour  pastry                       0.256495
good old fashioned english chip shop style chips    0.247537
garam masala green beans                            0.241684
vegan speedy alfredo style sauce  no tofu           0.234146
southwestern sugar cookies                          0.232119

In [34]:
chosen_recipe2 = pd.DataFrame()
for name in names:
    chosen_recipe2 = pd.concat([chosen_recipe2, recommender_df[[name]].sort_values(by=name, ascending=False).head(6).set_axis(['Value'], axis=1)])

In [35]:
#print out a dataframe that has name contains 'fried chicken' and their closest similar recipes
chosen_recipe2

                                        Value
name
4th of july fried chicken            1.000000
deep in the heart of texas bbq rub   0.432338
spicy egg salad sandwiches           0.406579
hawaiian ham and swiss sandwich      0.400000
three onion crossroads potatoes      0.400000
...                                       ...
oven fried chicken  ww               0.547723
nif s baked chicken fingers          0.507093
diet chocolate sauce                 0.507093
mr  howell s left bank french toast  0.447214
baked hoisin sauce chicken wings     0.444994

[246 rows x 1 columns]