In [1]:
import pandas as pd
import numpy as np
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances, cosine_distances, cosine_similarity
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'    # with this can handle more merories, avoid kernel dead error.
import time

## Load `recipes.csv` and `reviews.csv`

In [2]:
t0=time.time()
recipes = pd.read_csv('organized_recipes.csv')
recipes.head(3)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat,sugar,sodium,protein,sat_fat,carbs
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6,173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13,269.8,22.0,32.0,48.0,39.0,27.0,5.0

In [3]:
ratings = pd.read_csv('cleaned_reviews.csv')
ratings.head(3)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...

## Drop unnecessary columns
---

We won't need the `date` or `review` column from `ratings`. We only  `name` and `id` columns from `recipes`.

In [4]:
ratings = ratings[['user_id', 'recipe_id', 'rating']]

In [5]:
recipes = recipes[['id','name']]

In [6]:
recipes.shape,  ratings.shape

((191481, 2), (1071351, 3))

In [7]:
df = pd.merge(ratings, recipes, how='inner', left_on='recipe_id', right_on='id').drop(columns='id')

In [8]:
print(df.shape)
df.head()

(885798, 4)

   user_id  recipe_id  rating                  name
0    76535     134728       4  kfc honey bbq strips
1   273745     134728       5  kfc honey bbq strips
2   353911     134728       5  kfc honey bbq strips
3   190375     134728       5  kfc honey bbq strips
4   255338     134728       5  kfc honey bbq strips

In [9]:
df['user_id'].value_counts().head(20)

424680     6740
37449      4914
383346     4263
169430     3583
128473     3445
89831      2882
58104      2761
199848     2720
133174     2697
226863     2592
305531     2591
498271     2425
369715     2246
4470       2234
286566     2029
1072593    2000
176615     1995
107583     1974
80353      1950
166642     1889
Name: user_id, dtype: int64

In [10]:
review_count = df.groupby('recipe_id').count()
review_count

           user_id  rating  name
recipe_id
40               9       9     9
45               2       2     2
46               2       2     2
49              18      18    18
58               7       7     7
...            ...     ...   ...
537319           1       1     1
537458           1       1     1
537459           1       1     1
537485           1       1     1
537716           1       1     1

[187665 rows x 3 columns]

In [11]:
selected_recipes = review_count[(review_count['rating'] > 4) & (review_count['rating'] < 9)].index
selected_recipes

Int64Index([    58,     91,     92,     93,    136,    139,    170,    210,
               224,    240,
            ...
            526222, 530478, 531253, 532736, 532740, 533699, 534900, 535779,
            536119, 536678],
           dtype='int64', name='recipe_id', length=23095)

In [12]:
df = df.set_index('recipe_id').loc[selected_recipes,:]

In [13]:
df.reset_index(inplace=True)

In [14]:
print(df.shape)
df.head()

(141512, 4)

   recipe_id  user_id  rating                                    name
0         58   437767       3  low fat burgundy beef   vegetable stew
1         58   162826       5  low fat burgundy beef   vegetable stew
2         58     5060       5  low fat burgundy beef   vegetable stew
3         58  1060485       3  low fat burgundy beef   vegetable stew
4         58  1279229       5  low fat burgundy beef   vegetable stew

In [15]:
# clear up the memeories
del ratings
ratings = pd.DataFrame() 

del recipes
recipes = pd.DataFrame()

In [16]:
t1=time.time()-t0
t1

7.789891004562378

## Create pivot table
---

Because we're creating an item-based collaborative recommender (where item in this case is our recipes), we'll set up our pivot table as follows:
1. The `name` will be the index
2. The `user_id` will be the column
3. The `rating` will be the value

In [17]:
pivot = pd.pivot_table(df, index='name', columns='user_id', values='rating')

pivot.head()

user_id,1533,1535,1634,1676,1792,1891,1962,2046,2054,2059,...,2002361642,2002363091,2002363779,2002364091,2002364382,2002368192,2002368412,2002368953,2002369279,2002371843
name,,,,,,,,,,,,,,,,,,,,,
1 000 artichoke hearts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 2 3 jambalaya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 asian noodle salad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 favorite chinese steamed whole fish by sy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1 gram fat pumpkin spice muffins low fat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
pivot.shape

(23079, 37737)

In [19]:
t2=time.time()-t0
t2

65.07151627540588

## Create sparse matrix
---

In a minute, we'll calculate the cosine similarity for each movie using the `pairwise_distances` function. Before that, we need to create a sparse matrix (datatype) using `scipy`'s `sparse` module like so:

In [20]:
sparse_pivot = sparse.csr_matrix(pivot.fillna(0))
print(sparse_pivot)

  (0, 72)	5.0
  (0, 2407)	3.0
  (0, 3538)	5.0
  (0, 6774)	5.0
  (0, 7450)	5.0
  (0, 8494)	5.0
  (0, 25630)	5.0
  (0, 36215)	5.0
  (1, 287)	4.0
  (1, 1150)	4.0
  (1, 5088)	5.0
  (1, 14120)	5.0
  (1, 15235)	5.0
  (1, 32119)	5.0
  (2, 2754)	3.0
  (2, 2869)	5.0
  (2, 3223)	4.0
  (2, 7743)	4.0
  (2, 14727)	5.0
  (3, 4630)	5.0
  (3, 7070)	5.0
  (3, 19533)	5.0
  (3, 22772)	5.0
  (3, 24045)	4.0
  (4, 11704)	5.0
  :	:
  (23074, 15606)	4.0
  (23075, 1128)	5.0
  (23075, 4884)	5.0
  (23075, 6174)	5.0
  (23075, 6284)	5.0
  (23075, 7394)	5.0
  (23075, 9696)	5.0
  (23075, 21189)	5.0
  (23076, 401)	4.0
  (23076, 3788)	5.0
  (23076, 6863)	5.0
  (23076, 9954)	4.0
  (23076, 20353)	5.0
  (23076, 24324)	5.0
  (23077, 6386)	5.0
  (23077, 29081)	4.0
  (23077, 29546)	5.0
  (23077, 31893)	4.0
  (23077, 36524)	3.0
  (23077, 37370)	4.0
  (23078, 703)	5.0
  (23078, 4772)	5.0
  (23078, 8339)	5.0
  (23078, 14081)	5.0
  (23078, 21189)	5.0

## Calculate cosine similarity
---

`sklearn` has a built-in `pairwise_distances` function that we can use for our recommender. It will return a square matrix, comparing every recipe with every other resipe in the dataset.

In [21]:
# Note that a distance of 1 is a similarity of 0.
dists = pairwise_distances(sparse_pivot, metric='cosine')
# dists = cosine_distances(sparse_pivot)                         # Identical but more concise

dists

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [90]:
np.round(dists,3)

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [22]:
# Here, similarity is 1 - distance.
similarities = cosine_similarity(sparse_pivot)

In [23]:
# # Verify they are the same

# np.all(np.isclose((1.0 - dists), similarities))

## Create distances DataFrame
---

At this point, we essentially have a recommender. We'll load it into a `pandas` DataFrame for readability. 

You'll notice that each movie has a "distance" of 0 with itself (along the diagonal).

In [24]:
recommender_df = pd.DataFrame(dists, 
                              columns=pivot.index, 
                              index=pivot.index)
recommender_df.head()

name,1 000 artichoke hearts,1 2 3 jambalaya,1 asian noodle salad,1 favorite chinese steamed whole fish by sy,1 gram fat pumpkin spice muffins low fat,1 hour smoky ham and lentil soup,1 minute stromboli,1 squash dressing,10 bean soup,10 layer poor man s lasagna casserole,...,zucchini with bacon cheese,zucchini with chickpea and mushroom stuffing,zucchini with salsa,zucchini yellow squash stir fry,zuccuash bake from nimz territory,zuke soup,zulu cabbage,zuppa di broccoli broccoli soup,zwiebelkuchen southwest german onion cake,zydeco ya ya deviled eggs
name,,,,,,,,,,,,,,,,,,,,,
1 000 artichoke hearts,0.0,1.0,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1 2 3 jambalaya,1.0,0.0,1.0,1.0,1.0,0.857866,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1 asian noodle salad,1.0,1.0,0.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1 favorite chinese steamed whole fish by sy,1.0,1.0,1.0,0.0,1.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1 gram fat pumpkin spice muffins low fat,1.0,1.0,1.0,1.0,0.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [25]:
recommender_df.shape

(23079, 23079)

In [26]:
t3=time.time()-t0
t3

213.0592622756958

In [27]:
#recommender_df.to_csv('recommender_df.csv', index=False)  # Save this file for quick access

## Evaluate recommender performance
---

Now comes the fun part! Let's check out a few recipes to see if the recommender aligns with our intuition. In the cell below we'll do the following:
1. Create a search term
2. Use that to find all titles matching the search query
3. For each title, we'll list off the following:
  1. The average rating
  2. The number of ratings
  3. The ten most similar movies

In [28]:
q = 'besan  chickpea flour  pastry'
names = recommender_df[recommender_df.index.str.contains(q)].index

for name in names:
    print(name)
#     print('Average rating', recommender_df.loc[name, :].mean())
#     print('Number of ratings', recommender_df.T[name].count())
#     print('')
#     print('10 closest recipes')
    print(recommender_df[name].sort_values(ascending=True)[1:11])
    print('')
    print('*******************************************************************************************')
    print('')

besan  chickpea flour  pastry
name
vegan fried chicken vegan chicken nuggets  gluten free    0.743505
good old fashioned english chip shop style chips          0.746033
gluten free cornmeal muffins                              0.752037
garam masala green beans                                  0.752037
vegan speedy alfredo style sauce  no tofu                 0.759771
havarti and sun dried tomato cheesecake                   0.761851
southwestern sugar cookies                                0.761851
palm springs bagel                                        0.770584
instant cookies                                           0.780058
cinnamon sugar rattle snakes  i mean snacks               0.783993
Name: besan  chickpea flour  pastry, dtype: float64

*******************************************************************************************

In [52]:
q = 'fried chicken'
names = recommender_df[recommender_df.index.str.contains(q)].index

for name in names:
#     print(name)
#     print('Average rating', recommender_df.loc[name, :].mean())
#     print('Number of ratings', recommender_df.T[name].count())
#     print('')
#     print('10 closest recipes')
    print(recommender_df[name].sort_values(ascending=True)[1:11])
    print('')
    print('*******************************************************************************************')
    print('')

name
deep in the heart of texas bbq rub    0.567662
spicy egg salad sandwiches            0.593421
cheesy bacon stuffed burgers          0.600000
three onion crossroads potatoes       0.600000
hawaiian ham and swiss sandwich       0.600000
popover pizza                         0.600000
thai chili mayonnaise                 0.623378
grilled new yorker                    0.623378
fruity ice cubes                      0.634852
italian style lasagna                 0.634852
Name: 4th of july fried chicken, dtype: float64

*******************************************************************************************

name
pollo en crema                             0.619871
osman s weiner schnitzel                   0.709772
basic biscuits                             0.771429
chicken panang                             0.780867
baked mushrooms   a vegetable side dish    0.782145
ginger lime salmon                         0.785848
aunt mag s spoonburgers                    0.787325
beef teriyaki with cucumber salsa          0.787325
italian potato casserole                   0.788214
pork and cheese burgers                    0.788214
Name: best fried chicken, dtype: float64

*******************************************************************************************

name
grilled rosemary chops                          0.444246
chicken breast with mustard and sesame sauce    0.459922
orange nut couscous                             0.513748
creamy peaches                                  0.522293
fully loaded cajun chicken burgers              0.563128
egg in a hole   with smoked salmon              0.576751
stuffed avocados with seafood                   0.576751
meatloaf with mustard dill sauce                0.599529
nif s cheesy fresh herb and garlic bread        0.629497
vanilla poached pineapple sauce                 0.629497
Name: bonnie s twice cooked oven fried chicken, dtype: float64

*******************************************************************************************

name
heavenly country style home fries     0.452277
pomegranate glazed carrots            0.492907
not just for breakfast smashbrowns    0.492907
garlic chicken on rice                0.555006
baked corn                            0.580373
easy fried potatoes   onions          0.584773
berries and cream dip                 0.584773
panfried smashed potatoes             0.584773
spiced chai concentrate               0.584773
smoked turkey and avocado melt        0.584773
Name: buttermilk herb fried chicken, dtype: float64

*******************************************************************************************

name
cheesy scalloped potatoes with bacon and green onions               0.566987
loaded potato and mushroom bake recipe                              0.610532
two vinegar carrots                                                 0.610532
cinnamon swirl bread                                                0.620951
scrambled egg muffins with smoked salmon and sour cream             0.620951
grilled rosemary chops                                              0.620951
sweet and spicy yams                                                0.628846
yummy egg salad                                                     0.634852
steak diane from a treasury of great recipes by vincent price       0.634852
ham steaks with hazelnut butter   schinkensteaks mit haselnussbu    0.634852
Name: caribbean style fried chicken, dtype: float64

*******************************************************************************************

name
paula deen s cornbread                            0.758879
sour cream and onion burgers                      0.766874
baked squash sticks                               0.774123
apple and pear bundt cake                         0.780735
feta cheese foldovers                             0.780735
garlic chicken with sweet roasted pepper sauce    0.783831
pork steak bake in mushroom sauce                 0.783831
icebox strawberry pie                             0.785824
southern fried cabbage chicken stew               0.785824
apple and cheddar cheese muffins                  0.792386
Name: chicken fried chicken  d v o, dtype: float64

*******************************************************************************************

name
saucy apple and blackberry pie         0.567662
pork chops and apple                   0.669153
raspberry custard pie                  0.754560
grilled limoncello salmon steaks       0.765596
poached fish                           0.765596
chicken with fennel and red peppers    0.766874
cauliflower with pimiento sauce        0.770584
onion squares                          0.770584
stir fried cucumbers                   0.770584
rhubarb chicken                        0.774123
Name: chicken katsu  fried chicken coated in japanese breadcrumbs, dtype: float64

*******************************************************************************************

name
easy peasy apple turnovers               0.787798
green beans with feta                    0.796465
old fashioned beef pot roast             0.796465
lemon and herb pasta salad               0.796465
ham   pineapple pizza muffins            0.804520
glen s pecan pie muffins                 0.804520
yummy holiday potatoes                   0.804520
peanut butter chocolate chip brownies    0.804520
penne with spinach and two cheeses       0.804520
ginger mustard pork chops                0.804520
Name: chinese style fried chicken, dtype: float64

*******************************************************************************************

name
leeky linguine with shrimp                     0.607745
poppy seed and green onion noodles             0.623269
italian turkey mini meatloaves                 0.650084
crunchy rainbow bowl for men without yen       0.706409
light cheesy crab stuffed mushrooms            0.741428
christine s cheesesteak rice                   0.752572
chicken sausage with pasta and tomato sauce    0.763698
short  cut chicken fried rice  oamc            0.763698
bbq hamburgers                                 0.764986
uncle ray s grilled zucchini                   0.766253
Name: city fried chicken, dtype: float64

*******************************************************************************************

name
homestyle fried fish fillets                         0.677115
cake mix lemon pecan cookies                         0.730108
chickpea veggie loaf                                 0.753500
southern sweet iced tea                              0.756765
chocolate intrigue marble cake                       0.768638
chickpea tuna salad                                  0.768638
hot potato and broccoli salad                        0.770002
pomegranate glazed salmon                            0.771344
southwest summertime cooler  orange mint iced tea    0.775230
rich chocolate brownie waffles                       0.777714
Name: country fried chicken with gravy, dtype: float64

*******************************************************************************************

name
easiest broccoli rice casserole                  0.681696
curry butter chicken legs on the barbie          0.779296
oven fried garlic rosemary chicken               0.787325
baked wedges with fresh rosemary and sea salt    0.791536
oven baked mostaccioli                           0.793551
easy bisquick chicken legs                       0.797410
chocolate mint smoothie                          0.798341
pasta chicken taco bake                          0.798341
galley ho skillet supper                         0.802813
oven roasted new potatoes                        0.804520
Name: crusty herb fried chicken  baked, dtype: float64

*******************************************************************************************

name
low carb  low cal egg  foo  yung                    0.783223
chocolate cola cake                                 0.799679
macaroni beef stew                                  0.799679
new mexico style red chile enchiladas               0.808118
creamy dijon pork chops with apples and onions      0.809099
peanut butter chocolate bars                        0.809099
okie cornbread                                      0.811018
absolutely great  secret  simple mashed potatoes    0.814688
yummy bbq burgers                                   0.817304
banana oatmeal chocolate chip cookies               0.817304
Name: deep fried chicken  but low fat, dtype: float64

*******************************************************************************************

name
pistachio pudding salad              1.110223e-16
paparazzi cream cheese dip           2.000000e-01
authentic hong kong roast chicken    2.000000e-01
simplest panna cotta ever            2.000000e-01
espresso choco chunk cookies         2.094306e-01
the best italian pomodoro sauce      2.467564e-01
mommy s yummy fried pork chops       3.057899e-01
simplest korean beef stew            3.238766e-01
3 toppings for apple pie             4.000000e-01
elegant potato gratin                4.000000e-01
Name: fried chicken in garlic butter, dtype: float64

*******************************************************************************************

name
green chile baked chicken                         0.608969
cheesy green chile corn                           0.737162
oven fried chicken breasts with new potatoes      0.746177
mom s macaroni   cheese                           0.748981
double crunch honey garlic chicken                0.754323
hot cheese hors d oeuvres                         0.758112
cornflake ranch chicken fingers or breasts        0.758112
potato and beef pie                               0.758112
the blt omelet                                    0.758112
linda s veggie and cream cheese stuffed celery    0.758112
Name: garlic fried chicken breasts, dtype: float64

*******************************************************************************************

name
herbed zucchini soup                       0.701831
kicked up carrot salad                     0.730565
mojo chicken                               0.740901
quick cajun style skillet                  0.740901
asian chicken pitas                        0.740901
sweet and spicy yams                       0.740901
lemon turkey breast                        0.740901
ugali                                      0.743505
old fashioned spicy oatmeal raisin bars    0.751164
chinese chicken with sweet onions          0.752037
Name: hg s fiber ific fried chicken strips   ww points   5, dtype: float64

*******************************************************************************************

name
heart and soul black bean soup                      0.783629
the best garlic shrimp ever                         0.786020
chicken and tortellini with parmesan cream sauce    0.787186
pretzel crusted chicken breasts                     0.788333
15 minute baked halibut with herbs                  0.793803
moroccan sweet potato and chickpea soup             0.793803
grandma s noodle kugel                              0.796889
garlic shrimp  lemon and feta spaghetti             0.799840
garam masala green beans                            0.802666
leeky linguine with shrimp                          0.802666
Name: italian inn fried chicken livers and onions, dtype: float64

*******************************************************************************************

name
old bay party nuts                              0.774123
spicy roasted chickpeas                         0.775267
chili s awesome blossom dipping sauce           0.777503
pecan stuffed mushrooms                         0.777503
peachy salsa chicken                            0.783831
nobody knows they re instant mashed potatoes    0.785824
mexican meatballs   albondiguitas               0.792386
sugar snap pea and carrot saute                 0.792386
zesty refried beans                             0.792386
delicious crock pot pork chops                  0.798381
Name: jan s pan fried chicken  bacon and feta cheese, dtype: float64

*******************************************************************************************

name
cafe rio cilantro lime rice                                      0.817426
cream cheese tasty tortilla pinwheels                            0.828096
italian chicken sub                                              0.833333
linda s luscious spinach dip                                     0.833333
indian potato cakes  aloo tikki  with cilantro chutney yogurt    0.845697
adam s favorite creamy cheesy cauliflower soup                   0.852301
easy chile relleno casserole                                     0.855662
pasta with chicken  spinach  pine nuts  bacon and                1.000000
pasta with caramelized onions  cabbage and smoked ham            1.000000
pasta with broccoli and blue cheese                              1.000000
Name: japanese crispy fried chicken   kara age, dtype: float64

*******************************************************************************************

name
mexi mocha coffee frothy and light                   0.647327
cafe con leche milkshakes                            0.655279
tamatim mashwiya                                     0.662780
shantung chicken                                     0.679829
spanish chicken with chorizo and chickpeas           0.737265
stir fry sweet   sour pork or chicken or shrimp      0.764361
garlic pasta                                         0.773605
pork chops with goat cheese and caramelized onion    0.777960
thai fried rice   kao pad                            0.778422
raspberry lime rugalach                              0.781840
Name: japanese fried chicken karaage with onion ginger relish, dtype: float64

*******************************************************************************************

name
grilled limoncello salmon steaks           0.779296
poached fish                               0.779296
chicken with fennel and red peppers        0.780499
onion squares                              0.783993
stir fried cucumbers                       0.783993
rhubarb chicken                            0.787325
lemon linguini  with shrimp                0.787325
pesto potatoes                             0.787325
mean chef s vanilla buttermilk cupcakes    0.788401
cajunized oriental pork chops              0.789462
Name: karen s fried chicken, dtype: float64

*******************************************************************************************

name
tropical chicken sandwiches            0.452277
nif s easy grilled asparagus spears    0.566987
butterscotch fudge bars                0.620951
chita s mexican rice                   0.620951
awesome enchiladas                     0.620951
shake it up  iced tea for two          0.620951
heavenly cornbread                     0.620951
pink bikini                            0.620951
farmhouse loaded mashed potatoes       0.620951
nif s chicken cordon bleu burgers      0.622574
Name: kentucky fried chicken honey bbq chicken strips, dtype: float64

*******************************************************************************************

name
simple herb baked chicken breast  ibs o k    0.806799
pesto potatoes                               0.812806
calico bean soup recipe from mix             0.814688
easter nest rice krispies treats             0.820852
wondra instant flour substitute              0.821683
avga gemista or greek stuffed eggs           0.827942
chicken vegetable barley soup                0.827942
easy pot roast                               0.827942
healthy low fat lasagna                      0.828679
basic biscuits                               0.832274
Name: kittencal s garlic fried chicken breast, dtype: float64

*******************************************************************************************

name
cheesy beefy tortellini              0.809199
chive carrots                        0.809199
latte cheesecake bars                0.816196
awesome chicken cordon bleu          0.816927
chicken with homemade herb cheese    0.822476
sweet potato black bean salad        0.832211
basil and feta spread                0.833932
salmon carbonara                     0.835601
green bean   feta salad              0.840502
light chocolate chip muffins         0.844658
Name: low fat fried chicken strips, dtype: float64

*******************************************************************************************

name
bratwurst tacos                                 0.671988
another meatloaf recipe                         0.674182
yellow squash   eggplant  and feta casserole    0.682718
polish papa s pork chops                        0.697550
chicken monterey burritos                       0.697550
grilled ham panini                              0.698352
spicy tuna pasta toss   w w  6 points           0.698352
twice baked italian ranch potatoes              0.704209
spicy roast potatoes                            0.704209
easy cream cheese stuffed mushrooms             0.704789
Name: mustard parm fried chicken breasts, dtype: float64

*******************************************************************************************

name
diet chocolate sauce                                         0.382787
walnut and rosemary oven fried chicken                       0.452277
scrambled eggs and mushrooms  1953                           0.484289
grilled balsamic garlic crusted pork tenderloin  low carb    0.500000
hoosier meatloaf with jack daniels sauce                     0.505128
ainsley s barbecue spice rub                                 0.518670
best cheese bread                                            0.521463
molly   coddled eggs                                         0.537090
nif s baked chicken fingers                                  0.537090
chicken cordon bleu ii                                       0.556393
Name: oven fried chicken  ww, dtype: float64

*******************************************************************************************

name
cheddar dip or spread                 0.543118
macaroni vegetable cheese pie         0.543118
hang town scramble for one            0.573359
crescent sausage rolls                0.573359
toffeed apples                        0.573359
fluffy hot chocolate                  0.573359
jen s taco salad                      0.573359
italian peppers and egg sandwiches    0.575055
apple molasses bread                  0.584826
ground beef and macaroni medley       0.590105
Name: oven fried chicken breasts with new potatoes, dtype: float64

*******************************************************************************************

name
flounder fillets with panko bread crumbs    0.775945
strip and go naked                          0.783629
spicy orange chicken stir fry               0.788333
uncle ray s grilled zucchini                0.788333
festive cranberry cheese spread             0.795876
my very own basic but yummy pizza sauce     0.799840
easy chicken   black bean enchiladas        0.802666
beefed up spanish orzo                      0.802666
baked eggs with salsa                       0.802666
south of the border rice and beans          0.802666
Name: oven fried chicken fingers, dtype: float64

*******************************************************************************************

name
afghani lamb and rice dish                 0.682592
curry butter chicken legs on the barbie    0.771896
cocktail turkey meatballs                  0.771896
broccoli with browned butter               0.780194
baked chicken breasts and rice             0.782403
roast lime chicken                         0.782403
porky pockets  rsc                         0.783483
kit kat bars ii                            0.786629
potato egg pie                             0.789641
kumquat curry with shrimp                  0.792529
Name: oven fried chicken monterey, dtype: float64

*******************************************************************************************

name
joe s stone crab garlic creamed spinachby todd wilbur    0.796465
chicken and noodle stew                                  0.796465
spanakopita  spinach and cheese pie                      0.796465
grilled german potato salad                              0.804520
warm lobster rolls                                       0.804520
norsk fiskegrateng  fish au gratin                       0.811689
big mac daddy roni salad                                 0.811689
red curry with vegetables                                0.811689
gnocchi with chicken sausage  bell pepper  and fennel    0.816750
breakfast pork hash                                      0.822695
Name: oven fried chicken thighs with panko and parmesan, dtype: float64

*******************************************************************************************

name
oven baked french fries           0.759390
no no no cookies                  0.805740
balsamic cucumber salad           0.812806
creamy chicken marsala            0.812806
dino s deviled eggs               0.814688
eye of round roast                0.820852
barb s  baja crispy fish tacos    0.820852
aunt bev s   weird  hot dogs      0.826439
creamy fudge tunnel cake          0.827942
saute spinach with garlic         0.827942
Name: pat s southern fried chicken, dtype: float64

*******************************************************************************************

name
apple ladybug treats                                  0.738846
risoles  indonesian style of rissole                  0.738846
norwegian parsley potatoes                            0.770342
lemon lime basil ade                                  0.770342
special pancakes  batter cakes                        0.787378
veggie dip                                            0.804147
fancy chicken marsala                                 0.862205
pork and peppers stir fry                             0.869480
pasta sauce spaghetti soup  crock pot or stove top    1.000000
pasta with basil and lemon                            1.000000
Name: real fried chicken, dtype: float64

*******************************************************************************************

name
chef cajun deb s green stuff                0.623378
fried catfish  2                            0.623378
baby lima beans and corn                    0.656193
butterscotch fudge bars                     0.679413
chicken breasts with maple whiskey glaze    0.695320
killarney fudge pie                         0.775566
sweet basil rub for chicken                 0.776830
honey mustard kielbasa and potatoes         0.787325
honey glazed hoisin pork chops              0.787325
crispy chicken cutlets                      0.789462
Name: really crispy spicy cajun fried chicken, dtype: float64

*******************************************************************************************

name
rich  hot fudge cake                 0.807840
whipped carrots   snips              0.818286
fooler chicken                       0.820852
goat cheese   green onion scones     0.822503
dark fudge truffles                  0.822503
sweet potatoes in orange cups        0.827942
mexican meatballs   albondiguitas    0.827942
platte county fair kraut burgers     0.827942
garlic bubble bread                  0.827942
differently delicious coleslaw       0.827942
Name: smothered fried chicken, dtype: float64

*******************************************************************************************

name
cajun catfish supreme  can substitute trout or even chicken         0.456964
chicken breasts alfredo  no breading                                0.492907
sweet lemon iced tea                                                0.537090
buffalo style chicken fingers                                       0.571429
spicy sweet glazed chicken breasts                                  0.571429
fruity  peachy  bruschetta                                          0.571429
insalatina con fragole al balsamico strawberries arugula balsami    0.571429
chow mein chicken salad                                             0.571429
tomato cucumber salad                                               0.589772
east west asparagus salad                                           0.599108
Name: southern fried chicken fingers with green peppercorn mayonnaise, dtype: float64

*******************************************************************************************

name
vegetable confetti rice                     0.648137
low carb white chocolate mousse             0.751879
holiday eggnog cookies                      0.772971
chicken breasts with mustard caper sauce    0.787325
stewed okra and tomatoes                    0.787325
finnish chocolate pudding                   0.787325
stuffed shell pierogies                     0.789462
zucchini oatmeal cookies                    0.789462
simple parmesan tomatoes                    0.796465
fried jack                                  0.796465
Name: southern style oven fried chicken, dtype: float64

*******************************************************************************************

name
spicy sweet glazed chicken breasts        0.537090
roasted potatoes with garlic              0.599680
oriental steak skewers                    0.620951
laura moon s chili                        0.634852
spinach leek cream soup                   0.634852
hamburger new                             0.634852
brotchan foltchep   potato   leek soup    0.634852
cheesy bacon stuffed burgers              0.634852
beef stew with veggies                    0.634852
fish meuniere with capers                 0.634852
Name: stir fried chicken with gingered vegetables, dtype: float64

*******************************************************************************************

name
spicy szechwan chicken                    0.322730
swiss smoked salmon omelet                0.418682
thai chicken coconut soup                 0.474712
naan chicken sandwich                     0.568966
christine s maple syrup scrambled eggs    0.568966
baked bean scrolls                        0.584773
reduced fat scalloped potatoes            0.584773
spanish meatballs  albondigas             0.596083
scrambled eggs and orange zest            0.606327
paprika pita chips                        0.609041
Name: thai fried chicken, dtype: float64

*******************************************************************************************

name
meatballs in peanut curry sauce                              0.784850
honey oat bran bread                                         0.795295
lemon meltaways                                              0.799473
oriental carrot salad                                        0.807115
beef coconut curry                                           0.807115
chicken meatballs with tortellini in mushroom cream sauce    0.808893
spicy vegetable fritters                                     0.814749
orange and capsicum salad with lemon balm dressing           0.814749
chicken thighs with lemon and garlic                         0.814749
norwegian spice cookies                                      0.814749
Name: thai stir fried chicken livers, dtype: float64

*******************************************************************************************

name
scandinavian drops                                       0.608325
cocolatte                                                0.648310
sauteed shrimp with coconut oil  ginger and coriander    0.649675
oma s chocolate pudding                                  0.680199
oregon griddle cakes                                     0.699470
kelly s kitchen sink goulash                             0.703922
luscious lemon pound cake                                0.703922
neapolitan pork chops                                    0.711254
creamy italian chicken puff pie                          0.717471
buttery baked red potatoes                               0.723024
Name: traditional southern fried chicken, dtype: float64

*******************************************************************************************

name
besan  chickpea flour  pastry                       0.743505
good old fashioned english chip shop style chips    0.752463
garam masala green beans                            0.758316
vegan speedy alfredo style sauce  no tofu           0.765854
southwestern sugar cookies                          0.767881
havarti and sun dried tomato cheesecake             0.767881
palm springs bagel                                  0.776393
pork tenderloin with port sauce                     0.782403
instant cookies                                     0.785627
cinnamon sugar rattle snakes  i mean snacks         0.789462
Name: vegan fried chicken vegan chicken nuggets  gluten free, dtype: float64

*******************************************************************************************

name
oven fried chicken  ww                 0.452277
diet chocolate sauce                   0.492907
nif s baked chicken fingers            0.492907
mr  howell s left bank french toast    0.552786
baked hoisin sauce chicken wings       0.555006
iced mochacchino                       0.555522
panfried smashed potatoes              0.584773
roasted vegetable couscous salad       0.584773
boiled egg in a bowl                   0.593421
corn couscous                          0.593421
Name: walnut and rosemary oven fried chicken, dtype: float64

*******************************************************************************************

In [64]:
q = 'fried chicken'
names = recommender_df[recommender_df.index.str.contains(q)].index
axx = []
for name in names:
#     print(name)
#     print('Average rating', recommender_df.loc[name, :].mean())
#     print('Number of ratings', recommender_df.T[name].count())
#     print('')
#     print('10 closest recipes')
    axx.append(recommender_df[[name]].sort_values(by=name, ascending=True).head(6).rename)
#     print('')
#     print('*******************************************************************************************')
#     print('')

In [74]:
pd.DataFrame(recommender_df[[name]].sort_values(by=name, ascending=True).head(6))

name                                    walnut and rosemary oven fried chicken
name
walnut and rosemary oven fried chicken                                0.000000
oven fried chicken  ww                                                0.452277
diet chocolate sauce                                                  0.492907
nif s baked chicken fingers                                           0.492907
mr  howell s left bank french toast                                   0.552786
baked hoisin sauce chicken wings                                      0.555006

In [84]:
recommender_df[[name]].sort_values(by=name, ascending=True).head(6).set_axis(['Value'], axis=1)

                                           Value
name
walnut and rosemary oven fried chicken  0.000000
oven fried chicken  ww                  0.452277
diet chocolate sauce                    0.492907
nif s baked chicken fingers             0.492907
mr  howell s left bank french toast     0.552786
baked hoisin sauce chicken wings        0.555006

In [87]:
chosen_recipe2 = pd.DataFrame()
for name in names:
    chosen_recipe2 = pd.concat([chosen_recipe2, recommender_df[[name]].sort_values(by=name, ascending=True).head(6).set_axis(['Value'], axis=1)])

In [88]:
chosen_recipe2

                                        Value
name
4th of july fried chicken            0.000000
deep in the heart of texas bbq rub   0.567662
spicy egg salad sandwiches           0.593421
cheesy bacon stuffed burgers         0.600000
three onion crossroads potatoes      0.600000
...                                       ...
oven fried chicken  ww               0.452277
diet chocolate sauce                 0.492907
nif s baked chicken fingers          0.492907
mr  howell s left bank french toast  0.552786
baked hoisin sauce chicken wings     0.555006

[246 rows x 1 columns]

In [31]:
df = pd.read_csv('recommender_df.csv')

In [32]:
df.head()

,1 000 artichoke hearts,1 2 3 jambalaya,1 asian noodle salad,1 favorite chinese steamed whole fish by sy,1 gram fat pumpkin spice muffins low fat,1 hour smoky ham and lentil soup,1 minute stromboli,1 squash dressing,10 bean soup,10 layer poor man s lasagna casserole,...,zucchini with bacon cheese,zucchini with chickpea and mushroom stuffing,zucchini with salsa,zucchini yellow squash stir fry,zuccuash bake from nimz territory,zuke soup,zulu cabbage,zuppa di broccoli broccoli soup,zwiebelkuchen southwest german onion cake,zydeco ya ya deviled eggs
0,0.0,1.0,1.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,0.0,1.0,1.0,1.0,0.857866,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,0.0,1.0,1.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,0.0,1.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,0.0,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [33]:
t4=time.time()-t0
t4

867.6484642028809

In [34]:
print(t1, t2, t3, t4)

7.789891004562378 65.07151627540588 213.0592622756958 867.6484642028809